<html>
    <head>
        <title>DigitalLibrary</title>
        <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/miniproject-c79ac.appspot.com/o/Images%2FSIT-Tumkur-Logo.png?alt=media&token=e8ae36bc-f5dd-455c-a9dd-1137793caa08" type="image/icon type">
    </head>
    <style>
        body{
            background-color: darkcyan;
        }

        .column {
            float: left;
                width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .column p{
            margin: 5px;
            font-size: 35px;
            font-style: italic;
            font-family: cursive;
            color:black;
        }
    </style>
    {% block style %} {% endblock %}
    <body>
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.13.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.13.0/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.13.0/firebase-storage.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-analytics.js"></script>
        <div class="row">
            <div class="column">
                <p>Please follow the instructions as shown in the below video.</p>
                <video loop src="{% block video %}{% endblock %}" width="90%" autoplay ></video>
            </div>
            <div class="column">
                {% block secondcolumn %}{% endblock %}
            </div>   
        </div>
        <script>
            var firebaseConfig = {
                apiKey: "AIzaSyB0LB0l_UOdqpXx0zgs4F5OdFNghjCdHoc",
                authDomain: "miniproject-c79ac.firebaseapp.com",
                databaseURL: "https://miniproject-c79ac.firebaseio.com",
                projectId: "miniproject-c79ac",
                storageBucket: "miniproject-c79ac.appspot.com",
                messagingSenderId: "822756811028",
                appId: "1:822756811028:web:75465078d18f5c07586201",
                measurementId: "G-H49MDGNXLV"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();
        </script>
        {% block script %}{% endblock %}
    </body> 
</html>