<html>
    <head>
        <title>DigitalLibrary</title>
        <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/miniproject-c79ac.appspot.com/o/Images%2FSIT-Tumkur-Logo.png?alt=media&token=e8ae36bc-f5dd-455c-a9dd-1137793caa08" type="image/icon type">
        <style>
            body{
                background-color: darkcyan;
            }
            .main_class
            {
                text-align: center;
            }
            .main_class h1{
                color: ghostwhite;
            }
            .main_class h3{
                color:ghostwhite;
            }
            .main_img{
                padding-top: 10px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="main_img">
            <img src="https://firebasestorage.googleapis.com/v0/b/miniproject-c79ac.appspot.com/o/Images%2FSIT-Tumkur-Logo.png?alt=media&token=e8ae36bc-f5dd-455c-a9dd-1137793caa08" height="300px" width="400px">
        </div>
        <div class="main_class">
            <h1>WELCOME TO</h1>
            <h3>DIGITAL LIBRARY!</h3>
            <p>To proceed further please
                <a href="mySecond.html"><button type="button">Click</button></a>
            </p>
        </div>
    </body>
</html>